/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Custom Fonts */
@import './fonts.css';

/* Tailwind CSS */
@import 'tailwindcss';

/* Tailwind CSS Custom Theme */
@theme {
  /* Font Families */
  --font-title: 'Figtree', sans-serif;
  --font-body: 'Blauer Nue', sans-serif;

  /* Primary Colors - Escala estandarizada */
  --color-primary-50: #fef2f3;
  --color-primary-100: #fde5e7;
  --color-primary-200: #fbced3;
  --color-primary-300: #f7a7b0;
  --color-primary-400: #f27587;
  --color-primary-500: #e71d35;
  --color-primary-600: #d01729;
  --color-primary-700: #a0091e;
  --color-primary-800: #87071a;
  --color-primary-900: #780716;

  /* Secondary Colors - Escala estandarizada */
  --color-secondary-50: #eff6ff;
  --color-secondary-100: #dbeafe;
  --color-secondary-200: #bfdbfe;
  --color-secondary-300: #93c5fd;
  --color-secondary-400: #60a5fa;
  --color-secondary-500: #2463eb;
  --color-secondary-600: #1d4ed8;
  --color-secondary-700: #163b8d;
  --color-secondary-800: #1e3a8a;
  --color-secondary-900: #07142f;

  /* Neutral Colors - Escala estandarizada */
  --color-neutral-0: #ffffff;
  --color-neutral-50: #f7fcfc;
  --color-neutral-100: #eff9fa;
  --color-neutral-200: #e0f3f5;
  --color-neutral-300: #d0ecf0;
  --color-neutral-400: #b1e0e6;
  --color-neutral-500: #57888e;
  --color-neutral-600: #487a80;
  --color-neutral-700: #396b71;
  --color-neutral-800: #2a5157;
  --color-neutral-900: #162526;

  /* System Colors - Solo default */
  --color-success: #22c393;
  --color-warning: #fccc4f;
  --color-error: #f04343;
}